<header class="site-header">
  <div class="wrapper ">
    <div class="visible-xs">
      {% include social.md %}
    </div>

    <div class="site-title">
      <div class="text-center">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.avatar }}" class="avatar" />
        </a>
        <h1 class="visible-xs">{{ site.title }}</h1>
      </div>

      <div class="multiline">
        <h1 class="hidden-xs">{{ site.title }}</h1>
        {{ site.description }}
      </div>

      <!--
      <nav class="site-nav">
        <a class="page-link" href="/resume">
          Résumé
        </a>
      </nav>
      -->
    </div>

  </div>
</header>
