/*
 *= require_tree .
 *= require_self
 */

/*--- BOOTSTRAP OVERRIDES ---*/

$white: #F0F1EE;
$black: #333332;
$grid-float-breakpoint: 0;
$brand-primary: #FB6964;
$brand-success: #FFD464;
$brand-info:    $black;
$brand-warning: #1352A2;
$brand-danger:  #1352A2;

$alert-success-bg:  $brand-success;
$alert-info-bg:     $brand-info;
$alert-warning-bg:  $brand-warning;
$alert-danger-bg:   $brand-danger;

$gray-base:     #2C2C2C;
$gray-dark:     lighten($gray-base, 25%);

$font-size-base:          16px;
$font-family-sans-serif:  "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-height:                     48px;

$navbar-default-bg:                 $brand-primary;
$navbar-default-color:              $white;
$navbar-default-link-color:         $navbar-default-color;
$navbar-default-link-hover-color:   $brand-success;
$navbar-default-link-active-color:  $brand-success;
$navbar-default-brand-hover-color:  $navbar-default-link-hover-color;


$jumbotron-bg: rgba(251, 105, 100, 0.7);
$jumbotron-border: rgba(251, 105, 100, 0.9) solid 5px;
$jumbotron-color: $white;
$jumbotron-padding: 15px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Arimo|Bitter');

h1,h2,h3,h4,h5, .navbar-brand {
  font-family: "Bitter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  &.active{
    color: #FFD464;
    background-color: #fa4a44;
  }
}

.text-upper {
  text-transform: uppercase;
}
.help-inline{
  color: $brand-danger;
}

.body{
  background: $white;
}
.footer{
  border-top: $brand-success dotted 5px;
  background: $white;
  color: $brand-primary;
  padding: 4px;
  text-align: right;
  font-size: 10px;
}

#jar{
  background-image: url('/assets/josh_and_roo.jpg');
  background-size: cover;
  background-position: center 40px;
  background-repeat: no-repeat;
}
.page-header{
  border: 0px;
}

.white-trans {
  background: rgba(240, 241, 238, 0.8);
  padding: 15px;
  border-radius: 6px;
  color: $black;
}