<div class="row">
  <div class="col-md-4 col-md-offset-8 col-xs-12">
    <div class="jumbotron pull-left text-center">
      <h1>Hello,</h1>
      <p>My name is Josh</p>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-8 col-xs-12">
    <p class="white-trans">
      I am a computer guy,
      and this is my website.
    </p>
  </div>
</div>